body{
	
font-family: "God of War", "Black Chancery", fantasy;
	
color: #008080;
	background-color: #800000;
	
text-shadow: 1px 1px #49536D;
	text-align: center;

}



h1 {
	
font-size: 2.6em;
	
text-align: center;
	
text-shadow: 1px 1px #49536D;

}


td, th {
    
border: 1px solid #dddddd;
    
text-align: left;
    
padding: 8px;

}



tr:nth-child(even) {
    
background-color: #800000;

}